body {
    font-family: "Arial", sans-serif;
    padding: 0;
    margin: 0;
    
}

section {
    text-align: center;
    background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -10px;
}

.title {
    font-size: 60px;
    color: #000;
    margin: 10px auto;
    padding-top: 50px;
    margin-bottom: 30px;
    border-bottom: 5px solid #000;
    width: fit-content;
}

.game-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 325px;
    margin: 10px auto;
    background-color: #3d0f40;
    color: #04c0b2;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 105px;
    height: 105px;
    box-shadow: 2px 2px 2px 2px #424140;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 65px;
}

.game-status {
    font-size: 38px;
    color: rgb(6, 27, 88);
    margin: 20px auto;
}

.game-restart {
    background-color: #efefef;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #244584;
    box-shadow: 2px 2px 2px 2px rgb(69, 59, 59);
    border: 2px solid rgb(69, 59, 59);
    transition: all 0.2s linear;
}
.game-restart:hover{
    background-color: #244584;
    color: #fff;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
}